<div class="container">
    <div class="row">
        <div class="filter-content col-sm-12">
            <div class="card  mt-4">
              <h5 class="card-header">Filtro Cidades</h5>

              <div class="card-body">
                  <form [formGroup]="form">
                      <div class="form-row">
                          <div class="form-group col-md-4">
                              <label for="inputCidade">Cidade</label>
                              <input id="inputCidade" type="text" class="form-control"
                              formControlName="city" placeholder="Cidade" (ngModelChange)="filterEvent(form)">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="inputState">Estado</label>
                            <select id="inputState" class="form-control" formControlName="state"
                            (ngModelChange)="filterEvent(form)">
                                <option [value]="">Todos</option>
                                <option [value]="state.code" *ngFor="let state of listSates">
                                    {{state.name}}
                                </option>
                            </select>
                          </div>
                      </div>
                  </form>
              </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-8">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Cidade</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listData">
                  <td>{{item.cidade}}</td>
                  <td>{{item.uf}}</td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="col-sm-4">
            <div class="card">
              <h5 class="card-header">Total Itens</h5>
              <div class="card-body">
                {{listData.length}}
              </div>
            </div>
            <div class="card  mt-4">
              <h5 class="card-header">
                  Qtd Por Estado
                  <select id="inputState" (change)="calcState($event)" class="form-control">
                      <option [value]="any">Todos</option>
                      <option [value]="state.code" *ngFor="let state of listSates">
                          {{state.name}}
                      </option>
                  </select>
              </h5>
              <div class="card-body">
                {{itensByState}}
              </div>
            </div>
        </div>
    </div>
</div>
